body {
    background-color: #2e2e2f;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

/* HEADER */

#container {
    position: relative;
    background-image: url(./img/header-img.jpg);
}

header {
    background-color: rgba(0, 0, 0, .7);
    padding: 3rem 2.25rem;
    color: gainsboro;
}

#header-row {
    margin: auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}

#header-row h1 {
    min-width: 14rem;
    color: white;
}

#list-toggle {
    text-align: end;
    min-width: 6rem;
}

#list-toggle:hover {
    cursor: pointer;
    color: white;
}

/* SEARCH */

.search-section {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -1rem;
}

.search-field {
    color: #a5a5a5;
    background-color: #2e2e2f;
    outline: none;
    border: none;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    padding: .5rem;
    width: 65%;
}

.search-btn {
    color: white;
    background-color: #4b4b4b;
    outline: none;
    border: none;
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    padding: .75rem 2rem;
}

.search-btn:hover {
    cursor: pointer;
    background-color: #5a5a5a;
}

/* MAIN / RESULTS */

main {
    color: white;
    background-color: #121212;
    min-height: 70vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 2rem;
    width: 90%;
    margin: auto;
    gap: 1rem;
    box-sizing: border-box;

}

#filler {
    text-align: center;
    color: #2e2e2f;
    align-self: center;
    margin: auto;
}

#not-found {
    text-align: center;
    color: #787878;
    align-self: center;
    margin: auto;
}

/* FILM */

.film {
    display: flex;
    border-bottom: 1px solid #2c2c2c;
    padding: 1rem 0;
    max-width: 538px;
}

.poster {
    width: 25%;
    display: flex;
    align-items: center;
}

.poster img {
    width: 100%;
}

.film-details-container {
    width: 75%;
    padding: 1rem;
}

.title-rating {
    display: flex;
    align-items: baseline;
    box-sizing: border-box;
}

.title-rating h2 {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0;
    margin-right: .5rem;
}

.year {
    font-size: .9rem;
    color: #a5a5a5;
}

.star {
    color: #FEC654;
}

.title-rating p {
    margin: 0;
    font-size: .75rem;
}

.film-details {
    display: grid;
    grid-template-columns: .25fr auto;
    font-size: .75rem;
}

.film-details p {
    margin: .75rem 0 .5rem;
}

.watchlist-add {
    text-align: end;
    min-width: 5rem;
}

.watchlist-add:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.runtime {
    min-width: 3rem;
}

.plus {
    background: whitesmoke;
    color: #121212;
    width: .75rem;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
}

.plot {
    color: #a5a5a5;
    font-size: .8rem;
    font-weight: 400;
    margin: 0;
}

/* WATCHLIST */

.empty-watchlist {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#empty-msg {
    color: #787878;
    margin-bottom: 1rem;
}

#add-msg {
    display: inline-block;
    background-color: white;
    color: black;
    width: 1rem;
    text-align: center;
    border-radius: 50%;
}

#empty-add:hover {
    cursor: pointer;
}

/* UTILITY */

.hidden {
    display: none;
}
