body {
    background-color: #E5E5E5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 550px;
    margin: auto;
    font-family: 'Inter', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}

#container {
    position: relative;
}

header {
    outline: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-image: url(./img/header-img.jpg);
    padding: 3rem 2rem;
}

#search-section {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    bottom: -.5rem;
}

main {
    outline: 1px solid red;
    background-color: #121212;
    min-height: 70vh;
}